body {
    font-family: Lato, sans-serif;
    font-size: 16px;    
    background-image: url("Background-Narrow.jpg");
    background-position: center center;
    background-size: cover;   
    background-attachment: fixed;
    color: #FFFFFF;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Futura';
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 55px #ff0000, 0 0 75px #ff0000;
    text-align: center;
}

section {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

    section div {
        max-width: 80%;
    }

input {
    display: block;
    padding: 15px 90px 15px 10px;
    background: rgba(96,108,136, 0.5);
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 4px 0 10px 0;
    color: #FFFFFF;
    text-align: left;
}

label {
    display: block;
}

button {
    padding: 10px;
    width: 80px;
    margin: 5px 0;
    background: #b3ffab;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}


table {
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
    margin: 30px 0;
}

th, td {
    text-align: left;
    padding: 15px 65px;
}

tr {
    background-color: #860404;
}

th {
    background-color: #ffffff;
    color: black;
    font-family: arial;
}


.edit {
    background: #ffffff;
    color: #000000;
}

.delete {
    background: #ffffff;
    color: #000000;
}

.accept {
    background: #ffffff;
    color: #000000;
}

.cancel {
    background: #860404;
    color: #FFFFFF;
}

.add-new {
    padding: 15px 0;
    text-decoration: none;
    color: #FFFFFF;
    width: 200px;
    background: #860404;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    display: block;
    font-family:Arial;
}

